* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  border: 3px solid;
  min-height: 130vh;
  width: 750px;
  margin-left: 18%;
  background-color: rgb(7, 6, 6);
  background-image: linear-gradient(to right, red, black 9%);
  letter-spacing: 1px;
}

/* HEADER */

.header {
  align-items: center;
  border: 3px solid white;
  width: 600px;
  display: grid;
  padding: 1em;
  margin-left: 10%;
  margin-top: 5%;
  color: whitesmoke;
}
#web {
  margin-left: 36%;
  margin-top: -35%;
  text-align: justify;
  color: white;
}
.name {
  font-size: 50px;
}
.pro {
  font-size: 25px;
}

/* LEFT */

.left {
  float: left;
  border-right: 3px solid;
  border-top: 3px solid;
  border-bottom: 3px solid;
  width: 300px;
  display: grid;
  margin-left: 10%;
  margin-top: 5%;
  height: 60%;
  color: whitesmoke;

}
.about {
  font-size: 29px;
  padding-bottom: 5%;
}

.aboutme {
  margin: 15px;
  text-indent: 15px;
  font-size: 17px;
}

.ski {
  margin-top: -3%;
  padding-bottom: 5%;
  font-size: 29px;
}
.skills {
  margin: 15px;
  font-size: 17px;
}
.contact {
  font-size: 29px;
  margin-top: -3%;
  padding-bottom: 5%;
}
.contacto {
  margin: 15px;
  font-size: 17px;
}
img {
  background-color: whitesmoke;
}

/* RIGHT */

.right {
  border-top: 3px solid;
  border-bottom: 3px solid;
  width: 300px;
  display: grid;
  margin-top: 5%;
  height:60%;
  text-align: justify;
  padding-left: 3em;
  color: whitesmoke;
}
.experiences {
  font-size: 29px;
  padding-bottom: 5%;
  margin-top: 5%;
}

.exp{
   font-size: 17px;
}

.education {
 
  padding-bottom: 5%;
  font-size: 29px;
}
.educa {
  font-size: 17px;
}
.inter {
  font-size: 29px;
  padding-bottom: 5%;
}
#intereses {
 
  font-size: 17px;
}
.idiomas{
  font-size: 29px;
  padding-bottom: 5%;

}
#language{
  font-size: 17px;

}



