* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

.contenedor {
  box-shadow: 0 0 1vw;
  width: 50%;
  min-height: 100vh;
  background-image: linear-gradient(to right, red, black 3%);
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 25vw;

}

@media only screen and (max-width: 700px) {
  .contenedor {
    width: 100%;
  }
}


.im{
  border-radius: 100%;
padding: 1vw;
}

.header{
  display: inline-flex;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  

}
.container2{
  display: inline-flex;
  color: whitesmoke;
  padding-left: 0.6vw;
  padding-right: 0.6vw;

  
}
.left{
  border-right: 0.2vw solid;
  border-bottom: 0.2vw solid;
  border-top: 0.2vw solid;
  font-size: 1.1vw;
  padding: 1.2vw;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
a.no-underline {
  text-decoration: none;
}
.aboutme{
  padding: 0.9vw;
}
.skills {
  padding: 0.9vw;

}
.contacto{
  padding: 0.9vw;
}

.right{
  border-left: 0.2vw solid;
  border-bottom:0.2vw solid;
  border-top: 0.2vw solid;
  font-size: 1.1vw;
  padding: 1.2vw;
  
}

.exp {
  padding: 0.9vw;

}
.educa{
  padding: 0.9vw;
}
.adicional{
  padding: 0.9vw;
}
.intereses{
  padding: 0.9vw;
}