* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  border: 4px solid;
  min-height: 1000px;
  width: 750px;
  margin-left: 18%;
  background-image: linear-gradient(to right, red, black 10%);
  letter-spacing: 1px;
  margin-bottom: 5%;
}

/* HEADER */
.im{
  border-radius: 100px;
}

.header {
  align-items: center;
  border: 3px solid white;
  border-radius: 20px;
  width: 600px;
  display: grid;
  padding: 1em;
  margin-left: 10%;
  margin-top: 3%;
  color: white;
}
#web {
  margin-left: 36%;
  margin-top: -35%;
  text-align: justify;
  color: white;
}
.name {
  font-size: 50px;
}
.pro {
  font-size: 25px;
}

/* LEFT */

.left {
  float: left;
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-right: 3px solid;
  width: 300px;
  display: grid;
  margin-left: 10%;
  margin-top: 4%;
  color: white;
 
}
.about {
  font-size: 29px;
  padding-bottom: 5%;
}

.aboutme {
  margin: 15px;
  text-indent: 15px;
  font-size: 17px;
}

.ski {
  margin-top: -3%;
  padding-bottom: 5%;
  font-size: 29px;
}
.skills {
  margin: 15px;
  font-size: 17px;
}
.contact {
  font-size: 29px;
  margin-top: -3%;
  padding-bottom: 5%;
}
.contacto {
  margin: 15px;
  font-size: 17px;
}
img {
  background-color: white;
  border-radius: 30px;
}

/* RIGHT */

.right {
  border-top: 3px solid;
  border-bottom: 3px solid;
  width: 300px;
  display: grid;
  margin-top: 4%;
  text-align: justify;
  padding-left: 3em;
  color: white;
  
}
.experiences {
  font-size: 29px;
  padding-bottom: 5%;
  margin-top: 5%;
}

.exp {
  font-size: 17px;
  padding-bottom: 15%;
}

.education {
  padding-bottom: 5%;
  font-size: 29px;
}
.educa {
  font-size: 17px;
  padding-bottom: 11%;
}
.inter {
  font-size: 29px;
  padding-bottom: 5%;
}
#intereses {
  padding-bottom: 15%;
  font-size: 17px;
  
}
.idiomas {
  font-size: 29px;
  padding-bottom: 5%;
}
#language {
  font-size: 17px;
  margin-bottom: 26px;
}
